@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="favicon.ico" alt="Logo" width="20%" class="pb-5"/>
    <h1 class="display-6">Seja muito bem vindo ao</h1>
    <h2 class="display-4">CutCute PetShop</h2>
</div>
